.profile{
    position: absolute;
    left: 580px;
    margin: 20px;
}

.profile form{
    position: absolute;
    padding: 2px;
}
.profile form label{
    justify-items: start;
}

.profileImg{
    padding-top: 20px;
}