body {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.containerValueForm {
  display: flex;
  justify-content: space-between;  
}

#formVal #labelVal {
  position: absolute;
  display: block;
  margin-left: 22em;
}
#formVal #labelVal #inputVal {
  font: 18px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  display: block;
  border: none;
  padding: 20px;
  width: 300px;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
  transition: all 0.2s ease-in-out;
  background: #0321586c;
  color: #fff;
}
#formVal #labelVal #inputVal::-moz-placeholder {
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
#formVal #labelVal #inputVal:-ms-#inputVal-placeholder {
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
#formVal #labelVal #inputVal::placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
#formVal #labelVal #inputVal:focus, #formVal #labelVal #inputVal.populated {
  padding-top: 28px;
  padding-bottom: 12px;
}
#formVal #labelVal #inputVal:focus::-moz-placeholder, #formVal #labelVal #inputVal.populated::-moz-placeholder {
  color: transparent;
}
#formVal #labelVal #inputVal:focus:-ms-#inputVal-placeholder, #formVal #labelVal #inputVal.populated:-ms-#inputVal-placeholder {
  color: transparent;
}
#formVal #labelVal #inputVal:focus::placeholder, #formVal #labelVal #inputVal.populated::placeholder {
  color: transparent;
}
#formVal #labelVal #inputVal:focus + #spanValue, #formVal #labelVal #inputVal.populated + #spanValue {
  opacity: 1;
  top: 10px;
}
#formVal #labelVal #spanValue {
  color: #35dc9b;
  font: 13px Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0px;
  left: 20px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
#formVal #inputVal[type=submit] {
  transition: all 0.2s ease-in-out;
  font: 18px Helvetica, Arial, sans-serif;
  border: none;
  background: #1aaf75;
  color: rgb(10, 9, 9);
  padding: 16px 40px;
}
#formVal #inputVal[type=submit]:hover {
  background: #109f67;
}